:root {
  /* Primary Colors */
  --dark-blue: hsl(233, 47%, 7%);
  --saturated-blue: hsl(244, 38%, 16%);
  --soft-voilet: hsl(277, 64%, 61%);
  --transparent-voilet: rgba(60, 11, 90, 0.63);
  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --paragraph-white: hsla(0, 0%, 100%, 0.75);
  --state-white: hsla(0, 0%, 100%, 0.6);
}

body {
  min-height: 100vh;
  place-items: center;
  background: var(--dark-blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: "Inter", sans-serif;
  min-width: 90vh, 70rem;
}

.card {
  border-radius: 0.5rem;
  background: var(--saturated-blue);
  margin: 1.5rem;
  color: white;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap-reverse;
}
.card > span {
  color: var(--soft-voilet);
}

.challenge {
  max-width: 17ch;
  font-weight: 700;
  font-size: 2rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.challenge > p {
  font-weight: 400;
  font-size: 15px;
  color: var(--paragraph-white);
}

.challenge-title > span {
  margin: 0.1rem 0rem 0rem 0.1rem;
  color: var(--soft-voilet);
}

.img {
  background-image: url(./images/image-header-desktop.jpg);
  background-size: cover;
  width: 50vh;
  position: relative;
}
.img::after {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
  background-color: var(--transparent-voilet);
}
.statistics {
  display: flex;
}

.stats {
  text-transform: uppercase;
  font-size: 1.7rem;
  margin: 3rem 3rem 1rem 0rem;
}
.stats > p {
  font-size: 0.8rem;
  color: var(--state-white);
}

.attribution {
  font-family: serif;
  font-size: 2rem;
}
